{% extends 'base.html' %} {% block content %}
<header class="mb-4">
    <!-- Post title-->
    <h1 class="fw-bolder mb-1">Welcome to Blog Post by {{ post.author }}</h1>
    <!-- Post meta content-->
    <div class="text-muted fst-italic mb-2">Posted {{ post.created }}</div>
    <!-- Post categories-->
    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
</header>
<div class="row">
    <!-- Blog entries-->
    <div class="col-lg-8">
        <!-- Featured blog post-->
        <div class="card mb-4">
            <a href="#!"><img class="card-img-top" src="{{ post.image }}" alt="..." /></a>
            <div class="card-body">
                <div class="small text-muted">{{ post.created }}</div>
                <h2 class="card-title">{{ post.title }}</h2>
                <p class="card-text">{{ post.body }}</p>
            </div>
        </div>
        <!-- Nested row for non-featured blog posts-->
        <!-- Categories widget-->
        <div class="card mb-4">
            <div class="card-header">Categories</div>
            <div class="card-body">

            </div>
        </div>
        <!-- Side widget-->
        <div class="card mb-4">
            <div class="card-header">Side Widget</div>
            <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and
                feature the Bootstrap 5 card component!</div>
        </div>

        <!-- Comments section-->
        <section class="mb-5">
            <div class="card bg-light">
                <div class="card-body">
                    <h2>
                        {% with comments.count as total_comments %} {{ total_comments}} comment{{total_comments|pluralize}} {% endwith %}
                    </h2>
                    <!-- Comment form-->
                    {% if new_comment %}
                    <h2>your comment have added </h2>
                    {% else %}
                    <h3>add new comment</h3>
                    <form action="" method="post" class="mb-4">
                        {{comment_form.as_div}} {% csrf_token %}

                        <button class="btn btn-primary" type="submit">add comment</button>
                        
                        <a href="{% url 'response' %}" target="_blank" class="btn btn-info" rel="noopener noreferrer">Repondre</a>
                        
                    </form>
                    {% endif %}

                    <!-- Comment    
 with nested comments-->
                  {% for comment in comments %}
                </div>
                <!-- Single comment-->

                <div class="d-flex mb-3">

                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg"
                            alt="..." /></div>
                    <div class="ms-3">
                        <div style="word-wrap: break-word;" class="fw-bold">#{{forloop.count}}{{ comment.username }}</div>
                        {{ comment.body }}
                    </div><br>
                    <a href="{% url 'response' %}" target="_blank" class="btn btn-info">Repondre</a><br>
                    {% empty %}
                    <h2>you have not comment</h2>
                </div>
                <button type="submit" class="btn btn-primary" id="commenter" >Commenter</button>
                <button type="submit" class="btn btn-primary" id="reponse" >Reponse</button>
            </div>
    </div>
    {% endfor %}
</div>
</section>
</div>

<!-- Side widgets-->
<div class="col-lg-4">
    <!-- Search widget-->
    <div class="card mb-4">
        <div class="card-header">Search</div>
        <div class="card-body">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search"
                />
                <button class="btn btn-primary" id="button-search" type="button">Go!</button>
            </div>
        </div>
    </div>
    <!-- Categories widget-->
    <div class="card mb-4">
        <div class="card-header">Categories</div>
        <div class="card-body">
            <div class="row">
                {% for cat in categories %}
                <div class="col-sm-6">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="{% url 'category_home' cat.slug %}">
                                {{ cat.name}}
                            </a>
                        </li>
                    </ul>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Side widget-->
    <div class="card mb-4">
        <div class="card-header">Side Widget</div>
        <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature
            the Bootstrap 5 card component!</div>
    </div>
</div>
</div>
{% endblock %}
